<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {#            <link rel="stylesheet" href="{{ asset('build/app/css.css') }}">#}
            <!-- VIS Dependencies -->
            <link rel="stylesheet" href="{{ asset('api/vis.css') }}">
            <script src="{{ asset('api/vis.js') }}"></script>

            <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
            {#            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">#}

            <!-- QUILL Dependencies -->
            <link rel="stylesheet" href="{{ asset('api/quill/quill.bubble.css') }}">
            <link rel="stylesheet" href="{{ asset('api/quill/quill.snow.css') }}">
            <script src="{{ asset('api/quill/quill.js') }}"></script>
            
        {% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
</body>
</html>
