{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Register!</h1>
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.description) }}
                {{ form_row(form.password.first, {
                    'label': 'Password'
                }) }}
                {{ form_row(form.password.second, {
                    'label': 'Repeat Password'
                }) }}

                <button type="submit" class="btn btn-primary" formnovalidate>Register</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}